# generated data files
flamemap.db
courses.json
degrees.json

# python
__pycache__/
*.py[cod]
.env
*.egg-info/

# virtual environments
.venv/
venv/

# node
node_modules/
dist/
.next/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# testing files
testing.html
githubsetup.txt